/*variables*/

.site {
  margin: 0;
  
  font-family: "Poppins";
  text-transform: uppercase;

  --sa-background: #000000;
  --sa-background--alt: #f8e6d1;
  --sa-on-background: #f8e6d1;
  --sa-on-background--alt: #000000;
  --sa-primary: #f7bd00;

  --sa-spacing-4x-large: 36rem;
  --sa-spacing-3x-large: 24rem;
  --sa-spacing-2x-large: 12rem;
  --sa-spacing-x-large: 6rem;
  --sa-spacing-large: 4rem;
  --sa-spacing-medium: 2rem;
  --sa-spacing-regular: 1.5rem;
  --sa-spacing-small: 1rem;
  --sa-spacing-x-small: .5rem;

  --sa-font-size-x-large: 1.8rem; 
  --sa-font-size-large: 1.6rem; 
  --sa-font-size-medium: 1.4rem;
  --sa-font-size-regular: 1rem;
  --sa-font-size-small: 0.8rem;
  --sa-font-size-x-small: 0.6rem;

  --sa-font-weight-bold: 600;
  --sa-font-weight-semi-bold: 500;
  --sa-font-weight-regular: 300;

  --sa-line-height-loose: 1.4;
  --sa-line-height-regular: 1;
  --sa-line-height-dense: 0.8;

  --sa-border-width: 0.1rem;
  --sa-border-radius: 1.25rem;
}

/*components*/

.button {
  color: var(--sa-on-background);
  border: var(--sa-border-width) var(--sa-on-background) solid;
  border-radius: var(--sa-border-radius);
  padding: clamp(var(--sa-spacing-x-small), 4vw, var(--sa-spacing-small)) clamp(var(--sa-spacing-small), 4vw, var(--sa-spacing-medium));
}

.button:hover {
  color: var(--sa-on-background--alt);
  background-color: var(--sa-background--alt);
}

a {
  color: inherit;
  text-decoration: none;
  text-transform: var(--sa-font-weight-bold);
}

.nav--item:hover {
  text-decoration-line: underline;
}

/*type*/

.text-x-large {
  color: var(--sa-on-background);
  text-align: center;
  text-transform: uppercase;
  font-size: var(--sa-font-size-x-large);
  font-weight: var(--sa-font-weight-bold);
  line-height: var(--sa-line-height-regular);
}

.text-large {
  color: var(--sa-on-background);
  text-transform: uppercase;
  font-size: var(--sa-font-size-large);
  font-weight: var(--sa-font-weight-semi-bold);
  line-height: var(--sa-line-height-regular);
}

.text-medium {
  color: var(--sa-on-background);
  text-transform: uppercase;
  font-size: var(--sa-font-size-medium);
  font-weight: var(--sa-font-weight-semi-bold);
  line-height: var(--sa-line-height-regular);
}

.text-regular {
  color: var(--sa-on-background);
  text-transform: none;
  font-size: var(--sa-font-size-regular);
  font-weight: var(--sa-font-weight-regular);
  line-height: var(--sa-line-height-loose);
}

.text-small {
  color: var(--sa-on-background);
  text-transform: uppercase;
  font-size: var(--sa-font-size-small);
  font-weight: var(--sa-font-weight-regular);
  line-height: var(--sa-line-height-regular);
}

/*main*/

.site {
  background-color: var(--sa-background);
}

.header {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  grid-template-areas: "header-nav";
  
  width: 100%;
}

.header-nav {
  grid-area: header-nav;
  
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: var(--sa-spacing-x-large);
  grid-template-areas: "nav-left-col nav-center-col nav-right-col";
  
  color: var(--sa-on-background);
  background-color: var(--sa-background);
}

.nav--left-col {
  grid-area: nav-left-col;
  
  display: flex;
  align-items: center;
  justify-content: left;

  font-size: var(--sa-font-size-small);
  
  padding: clamp(var(--sa-spacing-x-small), 4vw, var(--sa-spacing-medium));
  gap: clamp(var(--sa-spacing-x-small), 4vw, var(--sa-spacing-medium));
}

.nav--center-col {
  grid-area: nav-center-col;
  
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.nav--right-col {
  grid-area: nav-right-col;

  font-size: var(--sa-font-size-small);
  
  display: flex;
  align-items: center;
  justify-content: right;
  padding: clamp(var(--sa-spacing-x-small), 4vw, var(--sa-spacing-medium));
}

.mark {
  width: var(--sa-spacing-x-large);
  height: 1fr;
}

.main {
  z-index: 0;
  overflow: hidden;
}

.text-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: clamp(var(--sa-spacing-x-small), 4vw, var(--sa-spacing-small));
  padding: clamp(var(--sa-spacing-x-small), 4vw, var(--sa-spacing-medium)) clamp(var(--sa-spacing-medium), 4vw, var(--sa-spacing-large));
}

.image-section {
  display: flex;
  align-items: center;
  justify-content: center;
  height: clamp(var(--sa-spacing-3x-large), 100vh, 75vh);
  width: 100vw;
}

.image {
  height: clamp(var(--sa-spacing-3x-large), 100vh, 75vh);
  width: auto;
  object-fit: contain;
}

.slideshow-section {
  height: clamp(var(--sa-spacing-3x-large), 100vw, 75vh);
  width: 100vw;
  object-fit: cover;
}

.slide {
  height: clamp(var(--sa-spacing-3x-large), 100vw, 75vh);
  width: 100vw;
  object-fit: cover;
  display: none;
}

.slide:first-child {
  display: block;
}

.video-section {
  height: clamp(var(--sa-spacing-3x-large), 100vw, 75vh);
  width: 100vw;
  object-fit: cover;
}

.gallery-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: var(--sa-spacing-4x-large);
  grid-gap: clamp(var(--sa-spacing-small), 4vw, var(--sa-spacing-regular));
  
  padding: 0 clamp(var(--sa-spacing-small), 4vw, var(--sa-spacing-large)) clamp(var(--sa-spacing-small), 4vw, var(--sa-spacing-large));

  @media (width <=875px) {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(var(--sa-spacing-2x-large), 1fr));
    grid-auto-rows: auto;
    grid-gap: clamp(var(--sa-spacing-small), 4vw, var(--sa-spacing-regular));
  }
}

.gallery-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: var(--sa-border-radius);
  overflow: hidden;
}

.row-span-2 {
  grid-row-end: span 2;

  @media (width <=1320px) {
    grid-row-end: span 1;
  }
}

.col-span-2 {
  grid-column-end: span 2;

  @media (width <=1320px) {
    grid-column-end: span 1;
  }
}

.footer {
  padding: clamp(var(--sa-spacing-x-small), 4vw, var(--sa-spacing-medium)) clamp(var(--sa-spacing-medium), 4vw, var(--sa-spacing-large));
}

.footer-nav {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: var(--sa-spacing-x-large);
  grid-template-areas: "nav-left-col nav-center-col nav-right-col";
  
  background-color: var(--sa-background);
}